.card {
  background-image: linear-gradient(to top, #863535, #ff6060);
  border-radius: 1rem;
  display: grid;
  align-items: end;
  background-size: cover;
  position: relative;
}

.card__image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgb(149 157 165 / 30%) 0px 8px 24px;
  filter: brightness(0.8);
}

.card__subtitle {
  width: 60%;
  margin-inline-start: 0.5rem;
  line-height: 150%;
  color: white;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 1023px) and (min-width: 769px) {
  .card__image {
    height: 350px;
  }

  .cards-container {
    flex-direction: row;
    gap: 15px;
  }
}


@media only screen and (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .card {
    width: 90%;          
    margin: 0 auto;      
    height: auto;         
  }

  .card__image {
    width: 100%;         
    height: auto;         
    display: block;
  }
}
