.collapse__header {
  background-color: #ff6060;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: 23%;
}

.collapse__panel {
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  

}

.collapse__content {
  background-color: #d9d7d79c;
  padding: 1rem;
  border-radius: 0.7rem;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  animation: slide-in 0.4s ease-in-out;
  color: black;
  width: 51%;
  margin-left: 23%;
  margin-top: -20px;
}

.collapse--about {
  border-radius: 10px;
  padding: 1rem;
}

.collapse__panel .collapse--about {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 1rem;
  width: 10%;
}


.collapse--about .collapse__header {
  font-weight: 600;
  margin-left: 20%;
  margin-bottom: -15px;
}

.collapse--about .collapse__content {
  color: #444;
  width: 50%;
  margin-left: 20%;
  margin-bottom: -50px;
  margin-top: 15px;
}


.visible.collapse__content {
  display: block;
}

.hidden.collapse__content {
  display: none;
}


.fa-chevron-down,
.fa-chevron-up {
  font-size: 20px;
  cursor: pointer;
  color: white;
}


@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1023px) and (min-width: 769px) {
  .collapse__panel {
    width: 89%;
    padding: 0;
    margin-left: -90px;
  }

  .collapse__header {
    width: 83.1%;
    margin-left: px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .collapse__content {
    width: 85%;
    font-size: 14px;
    padding: 0.5rem;
  }

 
  .collapse--about {
    border-radius: 10px;
    padding: 1rem;
  }

  .collapse__panel .collapse--about {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 1rem;
    width: 0%;
  }

  
  .collapse--about .collapse__header {
    font-weight: 600;
    margin-left: 1px;
    margin-bottom: -15px;
    color: #333;
    width: 80%;
  }

  .collapse--about .collapse__content {
    color: #444;

    margin-left: 170px;
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 768px) {
  .collapse__panel {
    width: 11%;
    margin: 0 -30px;
    padding: 0;
    margin-left: 1px;
  }

  .collapse__content {
    width: 840%;
    font-size: 24px;
    padding: 0.5rem;
    margin-top: -30px;
  }

  .collapse__panel:last-child {
    margin-bottom: 0.1rem;
  }

  .collapse__header {
    width: 695px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    font-size: 16px;
  }



  .collapse--about {
    border-radius: 10px;
    padding: 1rem;
  }

  .collapse__panel .collapse--about {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 1rem;
  }


  .collapse--about .collapse__header {
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: -15px;
    width: 650px;
  }

  .collapse--about .collapse__content {
    width: 790%;
    margin-bottom: -50px;

  }
}