.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin: 0 auto;
      max-width: 1240px;
      width: 100%;
      margin-left: 200px;
}

.logo {
      flex: 1;
      width: 150px;
      height: 55px;
      object-fit: contain;
      margin-left: 50px;
    
    
}



@media only screen and (max-width: 768px)
{

   
      .navbar {
            padding-top: 20px;
            justify-content: space-between;
            
      }

      .header {
        
            flex-direction: column;
          
            gap: 1rem;
            margin-left: 20px;
           
      }

      .logo {
            width: 100px;
            height: 40px;
            margin-left: -125%;
      }
  

    
}