.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      gap: 2rem;
      color: var(--red);
      font-weight: 400;
      min-width: 20%;
      font-style: normal;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      margin-left: 82%;
}



.navbar a {
      text-decoration: none;

      color: black;
}


.navbar a.active {
      text-decoration: underline;

}

@media only screen and (max-width: 768px)
{
      .navbar {
            margin-left: 50%;
            gap: 1rem;
      }
}
.navbar a {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      justify-content: center

     
}
