.footer {
      background-color: black;
      text-align: center;
      display: flex;
      flex-direction: column;
     
      
}

.footer__logo {
      margin-top: 10px;
}

.footer__text {
      color: white;
}