.home {
      margin: 0 auto;
      margin-bottom: 3rem;
}

.homepage {
      flex-wrap: wrap;
      opacity: 1;
      top: 429px;
      left: 100px;

}

.banner-container {
      position: relative;
      width: 82%;
      margin-left: 11.5%;
      margin-top: 20px;
}

.banner {
      width: 93%;
      margin-left: 15px;
      height: 250px;
      border-radius: 25px;
      object-fit: cover;
      display: block;
}

.banner-container h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-align: center;
      margin: 0;
      z-index: 2;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}



.logo {
      object-fit: cover;
      margin-right: 20%;
      margin-top: 20px;
      width: 80%;
}

h1 {
      display: flex;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
      margin-right: 60%;
      z-index: 1;
}

.cards-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin: 2rem auto;
      width: 75%;
      background-color: #F6F6F6;
}

/* Responsive */
@media only screen and (max-width: 768px) {
      .cards-container {
            grid-template-columns: 1fr;
            width: 90%;
      }

      .banner-container {
            width: 95%;
            height: 20%;
            margin-left: 2.5%;
      }

      .home {
            padding-inline: 0;
      }

nav.navbar {
  padding-inline: 1rem;
  margin-top: -50px; 
  margin-bottom: 20px;

}

}